<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Admin</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" 
		th:href="@{/css/admin.css}"
		href="../../static/css/admin.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
</head>
<body>
	<!-- 헤더 -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">BookLending</a>
			</div>
			<form method="POST" th:action="@{/logout}">
				<button class="btn btn-link pull-right navbar-brand"
					type="submit"> 로그아웃 </button>
			</form>
		</div>
	</nav>
	<!-- 사이드바 -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 sidebar">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation">
						<a th:href="@{'/admin/userList'}">사용자 관리</a>
					</li>
					<li role="presentation">
						<a th:href="@{'/admin/bookList'}">대출 서적 관리</a>
					</li>
				</ul>
			</div>
		</div>
	</div>	
	<!-- 컨텐츠 -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 main">
				<div th:include="__${contents}__">메인입니다</div>
			</div>
		</div>
	</div>
</body>
</html>









