<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>도서 대출 시스템(웹)</title>
</head>
<body>
	<div th:fragment="userUpdate_contents">
		<div class="container">
			<div class="col-sm-5">
				<h1>사용자 수정</h1>
				
				<form method="post" th:action="@{/admin/userUpdate}"
					th:object="${userInfo}">
					<input type="hidden" name="user_id" th:field="*{user_id}"/>
					<table class="table table-bordered table-hover">
						<tr>
							<th class="active col-sm-3">사용자ID</th>
							<td>
								<div class="form-group">
									<input type="text" class="form-control"
										th:field="*{username}"/>
									<span class="text-danger"
										th:if="${#fields.hasErrors('username')}"
										th:errors="*{username}">username error</span>
								</div>
							</td>
						</tr>
						<tr>
							<th class="active col-sm-3">비밀번호</th>
							<td>
								<div class="form-group">
									<input type="text" class="form-control"
										th:field="*{password}"/>
									<span class="text-danger"
										th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}">password error</span>	
								</div>
							</td>
						</tr>
						<tr>
							<th class="active col-sm-3">E-mail</th>
							<td>
								<div class="form-group">
									<input type="text" class="form-control"
										th:field="*{mail_address}"/>
									<span class="text-danger"
										th:if="${#fields.hasErrors('mail_address')}"
										th:errors="*{mail_address}">email error</span>	
								</div>
							</td>
						</tr>
						<tr>
							<th class="active col-sm-3">사용여부</th>
							<td>
								<div class="form-group">
									<!-- input type="text" class="form-control"
										th:field="*{enabled}"/-->
									
									<span th:each="item : ${radioEnable}">
										<input type="radio"
											name="radioEnable"
											th:text="${item.key}"
											th:value="${item.value}"
											th:field="*{enabled}" />
									</span>
										
									<span class="text-danger"
										th:if="${#fields.hasErrors('enabled')}"
										th:errors="*{enabled}">enabled error</span>	
									
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<button class="btn btn-primary btn-lg pull-right" type="submit" name="update">수정</button>
								<button class="btn btn-danger btn-lg" type="submit" name="delete">삭제</button>
							</td>
							
						</tr>
					</table>
				</form>
			</div>
			
		</div>
	</div>
</body>
</html>
