<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>회원가입</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/login}" method="GET">
	<button class="btn btn-md btn-warning btn-block" type="submit">로그인화면으로</button>
</form>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form action="#" th:action="@{/registration}"
				th:object="${userInfo}"
				method="post" class="form-horizontal">
				<h2>회원가입</h2>
				<div class="form-group">
					<div class="col-sm-9">
						<input type="text" 
							th:field="*{username}"
							placeholder="아이디 입력"
							class="form-control"/>
						<label th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}"
							class="validation-message"></label>	
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<input type="text" 
							placeholder="E-mail 입력"
							th:field="*{mail_address}"
							class="form-control"/>
						<label th:if="${#fields.hasErrors('mail_address')}"
							th:errors="*{mail_address}"
							class="validation-message"></label>		
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<input type="password" 
							placeholder="패스워드 입력"
							th:field="*{password}"
							class="form-control"/>
						<label th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"
							class="validation-message"></label>	
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<input type="password" 
							placeholder="패스워드 확인"
							th:field="*{password2}"
							class="form-control"/>
						<label th:if="${#fields.hasErrors('password2')}"
							th:errors="*{password2}"
							class="validation-message"></label>	
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<button type="submit" 
							class="btn btn-primary btn-block">회원가입</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>






